torch==2.0.0
transformers==4.30.0
sentencepiece==0.1.98
jieba
rouge-chinese
nltk
gradio==3.28.0
uvicorn==0.22.0
pydantic==1.10.11
fastapi==0.95.1
sse-starlette
matplotlib
protobuf
cpm-kernels
elasticsearch